button {
  background-color: black;
  color: white;
  border: 0;
  margin: 0.5rem;
}

button:hover {
  background-color: #212121;
}

input {
  border-radius: 0;
  border: 1px solid gray;
  min-width: 30%;
}

form {
  padding: 1rem;
}

fieldset > div {
  margin: 0.2rem;
}

legend {
  padding: 0 .5rem;
}

fieldset {
  border: 2px solid black;
  display: flex;
  flex-flow: column wrap;
}

#add-poll-option {
  width: 3rem;
}

ol > li:first-child > button:nth-child(2) {
  visibility: hidden;
}

ol > li:last-child > button:nth-child(3) {
  visibility: hidden;
}
